.topblock {
    height: 500px;
    background-color: var(--control-brand-foreground);
    text-align: center;
    position: relative;
}

.logo-image {
    display: inline-block;
    height: 50%;
}

.logo-text {
    display: inline-block;
    font-size: 400%;
    bottom: 0px;
    margin-top: 0;
    margin-bottom: 0;
}

.logo-slogan {
    font-size: 150%;
    display: inline-block;
    width: 50%;
}

.downloadbutton {
    display: inline-block;
    margin-top: 20px;
    padding: 20px !important;
    font-size: 25px !important;
    font-weight: bold;
    animation: beat 2s infinite alternate;
    text-decoration: none;
}

@keyframes beat{
	to { transform: scale(1.05); }
}